body {
    padding: 0;
    margin: 0;
}

button {
    color: black;
    background-color: #22E027;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    width: 100px;
    height: 50px;
    border-radius: 10px;
}

.header {
    display: flex;
}